body {
    background-color: #ffa778;
    font-family: 'Courier New';
} 

.title-box{
    margin-left: 30%;
    margin-right: 30%;

    padding-top: 3%;
    text-align: center;
    margin:0 auto;    
    color: #44AA44;
    background-color: hotpink;
}

.options-div{
    margin-left: 30%;
    margin-right: 30%;

    margin: 5%;
    background-color: orange;
}

.options-title{
    font-size: 22px;
    text-align: center;
    background-color: yellow;
}

/*
    Base options
*/

.base-options{
    background-color: tomato;
    margin: 5%;
}

.base-option{
    background-color: yellowgreen;
}

/*
    Player list
*/

.players-list{
    display: block;
    margin: 10 px;
}

.player-input-div{
    background-color: rosybrown;
}

.player-input{
    display: inline-block;
    margin: 5px;
}

.warning-label{
    display: none;
    background-color: aqua; 
    color: red;
    font-size: 25px;
    text-align: center;
}

.no-display{
    display: none;
}